div.hero {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hero h1 {
    font-size: 16px;
}

div.scrollDown {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity .4s ease-out;
}

div.scrollDown > div {
    opacity: 1;
    display: inline-block;
    padding: 20px;
    background: black;
    transition: opacity .5s ease-in;
}