div.inviteWrapper {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
}

div.inviteWrapper .archWrapper {
    position: relative;
    width: 100%;
/*    padding-top: 56.25%; !* 16:9 or widescreen aspect ratio *!*/
    padding-top: 100%; /* 1:1 or square */
}

div.inviteWrapper div.archContent {
    padding-top: 60%;
    padding-left: 40%;
}

div.inviteWrapper .archWrapper p {
    color: black;
    margin: 0;
}

div.inviteWrapper .archWrapper p.large {
    color: black;
    font-size: 4rem;
    line-height: 1.2;
}

div.inviteWrapper .archWrapper p.small {
    color: black;
    margin: 4px 0;
}

div.inviteWrapper .archWrapper .arch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 10;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    transform-origin: bottom right;
    transition: background-color .5s ease-in-out;
}

div.inviteWrapper .inviteInfo {
    padding: 20px;
    text-align: right;
    font-size: 15px;
}

div.inviteWrapper .inviteInfo section {
    padding-top: 40px;
    text-align: right;
}

div.inviteWrapper .inviteInfo section span.title {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    border-bottom: 1px solid #d9d9d95c;
    text-align: left;
    margin-bottom: 12px;
    font-size: 20px;
}

div.inviteWrapper .inviteInfo section time {
/*    display: inline-block;*/
    display: block;
}

div.inviteWrapper .inviteInfo section p {
    margin-top: 0;
}

div.inviteWrapper .inviteInfo section .contentDivider {
    display: flex;
}

div.inviteWrapper .inviteInfo section .contentDivider time {
    padding-right: 20px;
}

p.center {
    text-align: center;
}
